.input {
  height: 2.4rem;
  outline: none;
  border: none;
  box-shadow: 0 0 0.2rem #403d39;
  border-radius: 0.3rem;
  padding: 0.6rem;
  margin: 0.4rem 0;
  transition: 0.3s all;
  width: inherit;

  &:disabled {
    background-color: #ccc5b9;
  }

  &:focus {
    box-shadow: 0 0 0.4rem #643173;
  }
}
