button {
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 8px;
  background-color: #252422;
  color: #fffcf2;
  box-shadow: 0 0 0.6rem #ccc5b9;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #643173;
    color: #fffcf2;
    box-shadow: 0 0 0.6rem #403d39;
  }
}
